* {
    margin: 0 auto;
}

.bg {
    background-repeat: no-repeat;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.blur {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.content {
    background: rgba(0, 0, 0, 0.8);
    width: 75%;
    height: 1000px;
    color: white;
}

